<ion-content class="ion-padding">

    <div class="ion-item" [ngClass]="{'border-red': oldPassword}" >
      <ion-input type="password"  (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()" [(ngModel)]="form.oldPassword.value" placeholder="{{ form.oldPassword.label }}"></ion-input>
    </div>
    <div class="err">{{ oldPassword }}</div>

    <div class="ion-item" no-lines [ngClass]="{'border-red': first_pass}">
      <ion-input type="password"  (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()" [(ngModel)]="form.password.first.value" placeholder="{{ form.password.first.label }}"></ion-input>
    </div>
    <div class="err">{{ first_pass }}</div>

    <div class="ion-item" [ngClass]="{'border-red': second_pass}" >
      <ion-input type="password"  (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()"  [(ngModel)]="form.password.second.value" placeholder="{{ form.password.second.label }}"></ion-input>
    </div>
    <div class="err">{{ second_pass }}</div>



  <div class="ion-padding">
    <ion-button  color="danger"  size="small"  (click)="formSubmit(form)" expand="block" >{{form.submit}}</ion-button>
  </div>


</ion-content>
