<ion-content class="ion-padding">
  <div class="container ion-padding-bottom ion-padding-top">
    <div *ngIf="fromCache" (click)="resetForm()" class="border-top by-default" >חזרה למצב ברירת מחדל</div>

    <div *ngFor="let field of formKeys; let i = index" [attr.data-index]="i" >
      <div class="border-top" *ngIf="form[field].type == 'entity'">
        <ion-label> {{form[field].label}}</ion-label>
        <!--{{form[field].label}}-->
        <ion-select okText="אישור" cancelText="ביטול" multiple="true" [(ngModel)]="form[field].value">
          <ion-select-option value="{{ choice.value }}" *ngFor="let choice of form[field].choices">{{choice.label}}
          </ion-select-option>
        </ion-select>
      </div>

      <div *ngIf="form[field].type == 'choice'" class="border-top">
        <div (click)="openSelect2(form[field], field)">  {{form[field].label}}  : {{usersChooses[field]  }} </div>
      </div>

      <div *ngIf="form[field].type == 'checkbox'"  class="border-top">
        <ion-label for="res">{{ form[field].label }}</ion-label>
        <ion-checkbox name="res" color="danger" slot="end" [(ngModel)]="form[field].value"></ion-checkbox>
      </div>

    </div>
    <ion-button class="submit" expand="block" color="danger"  size="large" (click)=toSearchResultsPage()> {{form.submit}} </ion-button>
  </div>
</ion-content>
